.reservation-card .card,
.reservation-card .card-header,
.reservation-card .card-footer {
  border-radius: 15px;
}

.reservation-card .card-header .breadcrumb {
  margin-bottom: 0;
}

.reservation-card .card-header .btn {
  margin-top: -3px;
  margin-left: 10px;
}

.reservation-card {
  margin-top: 10px;
}

.reservation-card .card-body {
  padding: 0px 20px;
}

.reservation-card #resCardFooter {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-bottom: 5px;
  text-align: right;
}

.reservation-card #statusBadge {
  background-color: #34b3b5e3;
  border-radius: 20px;
  padding: 15px 20px 8.5px;
  padding-right: 18px;
  margin-top: 7.5px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}
